In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
import pandasql as sq

%matplotlib inline
train_data = pd.read_csv('../datasets/train.csv')
train_data.head()

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1,deal_probability
0,b912c3c6a6ad,e00f8ff2eaf9,Свердловская область,Екатеринбург,Личные вещи,Товары для детей и игрушки,Постельные принадлежности,NaN,NaN,Кокоби(кокон для сна),"Кокон для сна малыша,пользовались меньше месяц...",400.0,2,2017-03-28,Private,d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c...,1008.0,0.12789
1,2dac0150717d,39aeb48f0017,Самарская область,Самара,Для дома и дачи,Мебель и интерьер,Другое,NaN,NaN,Стойка для Одежды,"Стойка для одежды, под вешалки. С бутика.",3000.0,19,2017-03-26,Private,79c9392cc51a9c81c6eb91eceb8e552171db39d7142700...,692.0,0.00000
2,ba83aefab5dc,91e2f88dd6e3,Ростовская область,Ростов-на-Дону,Бытовая электроника,Аудио и видео,"Видео, DVD и Blu-ray плееры",NaN,NaN,Philips bluray,"В хорошем состоянии, домашний кинотеатр с blu ...",4000.0,9,2017-03-20,Private,b7f250ee3f39e1fedd77c141f273703f4a9be59db4b48a...,3032.0,0.43177
3,02996f1dd2ea,bf5cccea572d,Татарстан,Набережные Челны,Личные вещи,Товары для детей и игрушки,Автомобильные кресла,NaN,NaN,Автокресло,Продам кресло от0-25кг,2200.0,286,2017-03-25,Company,e6ef97e0725637ea84e3d203e82dadb43ed3cc0a1c8413...,796.0,0.80323
4,7c90be56d2ab,ef50846afc0b,Волгоградская область,Волгоград,Транспорт,Автомобили,С пробегом,ВАЗ (LADA),2110,"ВАЗ 2110, 2003",Все вопросы по телефону.,40000.0,3,2017-03-16,Private,54a687a3a0fc1d68aed99bdaaf551c5c70b761b16fd0a2...,2264.0,0.20797

In [2]:
period_train = pd.read_csv('../datasets/periods_train.csv')
period_train.head()

        item_id activation_date   date_from     date_to
0  8f5caef7afb0      2017-02-14  2017-03-15  2017-03-16
1  66218ff526d1      2017-02-16  2017-03-15  2017-03-18
2  b237d9539b21      2017-03-01  2017-03-15  2017-03-28
3  80bf58082ad3      2017-03-19  2017-03-19  2017-03-28
4  67a9944a7373      2017-03-14  2017-03-15  2017-03-28

In [6]:
train_data_stripped = train_data[['item_id','parent_category_name','category_name','price','user_type','image_top_1','deal_probability']]
train_data_stripped.head()

,item_id,parent_category_name,category_name,price,user_type,image_top_1,deal_probability
0,b912c3c6a6ad,Личные вещи,Товары для детей и игрушки,400.0,Private,1008.0,0.12789
1,2dac0150717d,Для дома и дачи,Мебель и интерьер,3000.0,Private,692.0,0.00000
2,ba83aefab5dc,Бытовая электроника,Аудио и видео,4000.0,Private,3032.0,0.43177
3,02996f1dd2ea,Личные вещи,Товары для детей и игрушки,2200.0,Company,796.0,0.80323
4,7c90be56d2ab,Транспорт,Автомобили,40000.0,Private,2264.0,0.20797

In [13]:
full_data_raw = train_data_stripped.join(period_train,on='item_id',how='left', lsuffix='_left', rsuffix='_right')
full_data_raw.head()

,item_id_left,parent_category_name,category_name,price,user_type,image_top_1,deal_probability,item_id_right,activation_date,date_from,date_to
0,b912c3c6a6ad,Личные вещи,Товары для детей и игрушки,400.0,Private,1008.0,0.12789,NaN,NaN,NaN,NaN
1,2dac0150717d,Для дома и дачи,Мебель и интерьер,3000.0,Private,692.0,0.00000,NaN,NaN,NaN,NaN
2,ba83aefab5dc,Бытовая электроника,Аудио и видео,4000.0,Private,3032.0,0.43177,NaN,NaN,NaN,NaN
3,02996f1dd2ea,Личные вещи,Товары для детей и игрушки,2200.0,Company,796.0,0.80323,NaN,NaN,NaN,NaN
4,7c90be56d2ab,Транспорт,Автомобили,40000.0,Private,2264.0,0.20797,NaN,NaN,NaN,NaN

In [31]:
#full_data_raw.to_csv('../datasets/input_set.csv')
only_numeric_data = full_data_raw.drop(['item_id_left','parent_category_name','category_name','user_type','item_id_right','activation_date','date_from','date_to'], axis=1)
only_numeric_data.head()
only_numeric_data = only_numeric_data.fillna(0)
only_numeric_data.to_csv('../datasets/only_numeric.csv')

In [38]:
numeric_with_itemseq = train_data[['price','item_seq_number','image_top_1','deal_probability']]
numeric_with_itemseq.head()
numeric_with_itemseq = numeric_with_itemseq.fillna(0)
numeric_with_itemseq.to_csv('../datasets/itemseq.csv')